@use 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

.btn {
  border-radius: 0 30px 0 30px;
}

.btn-purple {
  background-color: mediumpurple;
  color: white;
}

.btn-purple:hover {
  background-color: #7249d2;
}

video {
  object-fit: cover;
}

@media (min-width: 768px) {
  .w-md-25 {
    width: 15% !important;
  }
}